@import 'vars';

.header__support {
    padding-top: 60px;
}

header {
    user-select: none;
    position: sticky;
    top: 0;
    height: max-content;
    width: 100vw;
    padding: 0 20px;
    background: $blur;
    // backdrop-filter: saturate(200%) blur(20px);
    font-family: $for-logo !important;
    z-index: 10;

    >.header__inner {
        height: 60px;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq(sp) {
            justify-content: center;
        }

        >.header__ttl>a {
            @include font(2rem, $nocl);
        }

        .header__menu {
            display: flex;
            align-items: center;

            @include mq(sp) {
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 50px;
                background: $bg-100;
                visibility: hidden;
                opacity: 0;
                transition: .3s;
            }

            &.active {
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }

            >.menu__ttl>a {
                display: none;

                @include mq(sp) {
                    display: block;
                    @include font(3.5rem, $nocl);
                }
            }

            >ul {
                display: flex;
                align-items: center;
                gap: 50px;
                list-style: none;
                margin-right: 80px;

                @include mq(tab) {
                    gap: 30px;
                    margin-right: 30px;
                }

                @include mq(sp) {
                    flex-direction: column;
                    gap: 30px;
                    margin-right: 0;
                }

                >li>a {
                    @include font(calc(.7rem + 1vw), $te-200);

                    @include mq(sp) {
                        @include font(2rem, $te-200);
                    }
                }
            }

            >.sns {
                display: flex;
                align-items: center;
                gap: 20px;

                @include mq(sp) {
                    gap: 40px;
                }

                >a {
                    >svg {
                        font-size: 25px;
                        color: black;
                        vertical-align: bottom;

                        @include mq(sp) {
                            font-size: 40px;
                        }
                    }

                    >img {
                        height: 25px;
                        width: 25px;

                        @include mq(sp) {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}

.hum {

    @include mq(sp) {
        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        z-index: 20;
        -webkit-tap-highlight-color: #0000;
        transition: all .3s;
        position: fixed !important;
        left: 50vw;
        bottom: 10px;
        transform: translate(-50%, 0);
        background: $liner-100;

        >span {
            height: 2px;
            width: 30px;
            background: $bg-100;
            border-radius: 2px;
            transition: .5s;
        }

        >span:nth-of-type(1) {
            top: 10px;
        }

        >span:nth-of-type(2) {
            top: 19px;
        }

        >span:nth-of-type(3) {
            top: 28px;
        }

        &.active {
            @include mq(sp) {

                >span:nth-of-type(1) {
                    width: 30px;
                }

                >span:nth-of-type(2) {
                    width: 20px;
                }

                >span:nth-of-type(3) {
                    width: 10px;
                }
            }
        }
    }
}