@import 'vars';

.home {
    >.home__topview {
        height: 100vh;
        width: 100vw;
        background: url('../conponents/media/topview.jpg') center;
        background-size: cover;

        @include mq(sp) {
            background-position: 20% center;
        }

        >.topview__inner {
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;

            >.inner__ttl {
                word-break: keep-all;
                text-align: center;
                @include font(4rem, $for-logo, $te-100);
                max-width: 17ch;

                @include mq(sp) {
                    @include font(2.3rem, $for-logo, $te-100);
                }
            }

            >.inner__buttons {
                display: flex;
                align-items: center;
                gap: 100px;

                @include mq(sp) {
                    flex-direction: column;
                    gap: 50px;
                }

                >.inner__btn {
                    text-align: center;
                    padding: 10px;
                    width: 200px;
                    background: $liner-100;
                    border-radius: 50px;
                    @include font(20px, $for-logo, white);
                    position: relative;
                }
            }
        }
    }

    >.home__about {
        width: 100vw;
        padding: 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bg-300;


        >.about__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 80px;

            >.about__ttl {

                >.ttl__main {
                    word-break: keep-all;
                    text-align: center;
                    line-height: 1;
                    @include font(calc(2rem + 3vw), $for-logo, $te-300);
                }

                >.ttl__sub {
                    padding-top: 20px;
                    text-align: center;
                    @include font(calc(1rem + 1vw), $for-logo, $te-200);
                }
            }

            .about__desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                >p {
                    @include font(calc(.5rem + 1vw), $for-logo, $te-300);
                }
            }

            .about__btn {
                text-align: center;
                padding: 10px;
                width: 200px;
                background: $bg-300;
                border-radius: 50px 0 50px 0;
                box-shadow: 5px 5px 20px $primary-100;
                @include font(20px, $for-logo, $te-300);
            }
        }
    }
}