@import 'vars';

.postlist~.header__wrapper {
    background: black;
}

.postlist {
    height: max-content;
    min-height: 200vh;
    width: 100vw;
    background: $bg-100;

    >.postlist__nav {
        position: sticky;
        top: 60px;
        background: $bg-300;
        border-bottom: 1px solid $te-100;
        height: 40px;
        min-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        overflow-x: scroll;


        @include mq(sp) {
            justify-content: flex-start;
            padding-left: 20px;
        }

        >.cats__tags {
            @include font(1.5rem, $nofont, $te-300);
        }

        >.postlist__cats {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;

            >.postlist__cat {
                cursor: pointer;
                user-select: none;
                @include font(1.2rem, $for-logo, $te-300);
            }
        }
    }
}