@import 'vars';

.postlist {
    >.postlist__topview {
        width: 100%;

        >.topview__ttl {
            max-width: 1080px;
            height: 150px;
            padding: 10px 20px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 15px;

            >.ttl__main {
                @include font(2rem, black);
                font-family: $for-logo;
            }

            >.ttl__sub {
                @include font(.8rem, $te-100);
                max-width: 80vw;
                line-height: 2;
            }
        }
    }

    >.postCards {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}