// @use 'header';
@use 'header2';
@use 'homepage';
@use 'postlist';
@use 'post';

// @import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@font-face {
    font-family: 'Yuji Syuku';
    src: url(./fonts/YujiSyuku-Regular.ttf) format(truetype);
}
// for logo
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
// serif

@import 'vars';

body.active {
    overflow: hidden;
}

.App {
    min-height: 100vh;
    background: $bg-100;
}

// settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif JP';
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: #0000;
}

img {
    vertical-align: bottom;
}

.colorLinear {
    word-break: keep-all;
    font-family: $for-logo;
    color: transparent;
    background: $liner-100;
    background-clip: text;
}